html, body {
  overflow-x: hidden;
}




body {
    background-color: black;
}


#bubble-wrapper {
    height: 100%;
    width: 100%;
  
    position: fixed;
    bottom: 0px;
  
    overflow: hidden;
    pointer-events: none;
  }
  
  .bubble {
    height: max(300px, 30vw);
    width: max(300px, 30vw);
  
    background-color: white;
    border-radius: 100%;
  
    position: absolute;
    left: 50%;
    top: 100%;
  
    animation: wave 2s ease-in-out infinite;
  
  }
  
  
  @keyframes wave {
    from, to {
      transform: translate (-50%, 0%);
    }
    50% {
      transform: translate(-50%, -20%);
    }
  }

pre {
    text-align: center;
    color: white;
    font-size: 80%;
}

.social-media {
    text-align: center;
}

.social-media a {
    color: blue;
    font-family: monospaced raster typefaces;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 1px;
    display: inline-block;
    margin: 0 10px;
}

.social-media a:hover {
    background-color: white;
    color: blue;
  }

.social-media a:visited {
    color: blue;
  }  

#ascii {
    font: 9px monospace; 
    line-height:9px; 
    background-color:black;
}
